.top-bar {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  color: white;
  margin: 1em 0;
  gap: 1em;
}
.row {
  display: flex;
  justify-content: flex-start;
  margin: 1em 0;
  gap: 1em;
  align-items: center;
}

.MuiBreadcrumbs-ol {
  font-size: 14px;
}
.MuiTypography-root:active {
  font-weight: bold;
}
