.top-bar {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  color: white;
  margin: 1em 0;
  gap: 1em;
}
.row {
  display: flex;
  justify-content: flex-start;
  margin: 1em 0;
  gap: 1em;
  align-items: center;
}

.resizer:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
