.MuiTreeItem-label {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px !important;
}

.MuiTreeItem-content {
  padding: 4px 12px !important;
}
.Mui-selected {
  background-color: #cce0ed !important;
}
